#alertas {
  width: 80%;
  display: table;
}

.tabelaAlertas {
  overflow-y: auto;
  height: 150px;
}

.tabelaAlertas thead th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
}
th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
th {
  background: #eee;
}