#alertaData {
  padding: 15px;
  margin: 15px;
}

#alertaDataFim {
  padding: 15px;
  margin: 15px;
}

#alertaHora {
  padding: 15px;
  margin: 15px;
}

#nomeMedicamento {
  padding: 15px;
  margin: 15px;
}

#submit {
  padding: 13px;
  margin: 15px;
  background-color: #fa7a3e;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.teste {
  box-shadow: 0 0 20px;
  border: solid 2px;
  padding: 20px;
}